.myapp{
  position: relative;
}

h3{
  margin: 10px 5px;
  color: black;
}
.todo__item{
  display: block;
  font-size: 18px;
  padding: 15px 0;
  border-bottom: 1px solid rgba(32,32,32,0.5);
  transition: all .5s ease-in;
}

.todo__list{
  float: left;
  margin-right: 10px;
  background-color: white;
  padding: 40px;
  list-style: none;
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.6);
  border-radius: 3px;
}
input[type="checkbox"]{
  float: left;
  display: inline;
  margin-right: 8px;
}
input[type="checkbox"]:checked+p{
  text-decoration: line-through;
}
.todo__item p{
  transform: translateY(-10px);
  display: inline;
}
button{
  padding: 5px;
  color: #333;
  background-color: white;
  border: 1px solid grey;
  border-radius: 10px;
}
